<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Create Journal entries</strong>
            </c-card-header>
            <c-card-body>
                <form>
                    <app-docs-example href="forms/select">
                        <select aria-label="Default select example" cSelect>
              <option>Income Category</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </app-docs-example>
                    <button cButton color="primary" class="float-end">Search</button>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong></strong>
            </c-card-header>
            <c-card-body>
                <form action="" method="post">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="websitecheck" (click)="checkUnCheckAll()" />
                                </th>
                                <th>16 Digit Code</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of data">
                                <td>
                                    <input type="checkbox" name="websitecheck" [checked]="isChecked" value="{{ group.digitCode }}" />
                                </td>
                                <td>{{ group.digitCode }}</td>
                                <td>{{ group.amount }}</td>
                                <td>{{ group.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <button cButton color="primary" class="float-end">Pay</button> -->
                    <button class="btn btn-primary float-end" (click)="confirmBox()">
            Generate journal entries
          </button>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Paid</strong>
            </c-card-header>
            <c-card-body>
                <form action="" method="post">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>16 Digit Code</th>
                                <th>Payer Name</th>
                                <th>NIC</th>
                                <th>Amount</th>
                                <th>Voucher type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of data">
                                <td>{{ group.digitCode }}</td>
                                <td>{{ group.name }}</td>
                                <td>{{ group.nic }}</td>
                                <td>{{ group.amount }}</td>
                                <td>{{ group.date }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>16 Digit Code</th>
                                <th>Payer Name</th>
                                <th>NIC</th>
                                <th>Amount</th>
                                <th>Voucher type</th>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
